@import url("variables.css");
@import url("responsivo.css");

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
}

header {
  background: var(--blue);
  padding: 46px 25px;
  position: relative;
  z-index: 1;
  /* background-image: url(../img/waves.svg); */
  /* background-position: top left; */
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

header::before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/waves.svg);
  background-size: cover;
  background-position: top;
  z-index: -1;
  opacity: 0.1;
}

.logo img {
  width: 350px;
  height: auto;
  background: var(--blue);
  border-radius: 100%;
}

.social {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.icon {
  background: #fff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.icon a {
  display: block;
  width: 100%;
  height: 100%;
}

.icon:hover {
  transform: scale(1.3);
}
.icon img {
  width: 20px;
  height: 20px;
}

main {
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  box-shadow: 0px 20px 55px -12px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  padding: 15px 25px;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--nav-link);
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

nav a:hover {
  transform: scale(1.1);
  color: var(--nav-hover);
}

.title {
  background-image: url(../img/dot.svg);
  background-repeat: repeat-x;
  background-position: right center;
  background-size: 18px;
}

.title h1 {
  padding-right: 20px;
  background: white;
  display: inline-block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 48px;
}

.cards h2 {
  font-size: 27px;
  color: var(--titulo);
}

.cards p {
  color: var(--texto);
}

.imagem {
  width: 100%;
  height: 320px;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-section {
  padding-top: 124px;
}

.menu-section:last-child {
  padding-bottom: 124px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px 35px;
  width: 100%;
  text-align: center;
}

.footer-container p {
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  color: var(--texto-footer);
}

iframe {
  display: inline-block;
}

.copy {
  /* display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); */
  margin-bottom: 100px;
  text-align: center;
  color: var(--titulo);
}

.copy p {
  font-size: 1rem;
  color: var(--texto);
}

.footer-container .name {
  display: flex;
  justify-content: right;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--seabra-1);
  opacity: 0.4;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-container .name:hover {
  transform: scale(1.3);
  color: var(--seabra-1-hover);
  opacity: 0.6;
}
